* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body,button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes id {

    from {
        margin-bottom: 150px;

    }
}

main {
    >header {
        width: 100%;
        height: 120px;

        div {
            &:first-of-type {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 30px;
                background-color: black;

                >p {
                    color: white;
                }
            }

        }

        >div {
            width: 100%;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: white;

            >figure {
                >img {
                    width: 150px;
                }
            }

            >nav {
                >ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;

                    >li {
                        font-size: 16px;
                        font-weight: bold;
                        padding: 40px 0;
                        &:first-of-type{
                            border-bottom: 3px solid black;
                            padding: 32px 1px;

                        }
                        &:hover {
                            >ul {
                                height: 500px;
                                opacity: 1;

                            }
                        }

                        &:hover {
                            >.p1 {
                                height: 190px;
                                opacity: 1;
                                width: 190px;
                                margin-right: 1000px;
                                display: flex;
                                align-items: start;
                                justify-content: center;
                                flex-direction: column;
                                padding: 10px;
                                font-size: 18px;
                                gap: 20px;
                                cursor: pointer;

                            }
                        }

                        >a {
                            font-size: 19px;
                            color: black;
                            text-decoration: none;
                            font-weight: bold;
                            padding: 32px 3px;
                            &:hover{
                                border-bottom: 3px solid black;

                            }
                       
                        }

                        >ul {
                            position: absolute;
                            top: 80px;
                            list-style: none;
                            opacity: 0;
                            height: 0;
                            overflow: hidden;
                            background-color: white;
                            display: flex;
                            width: 100%;
                            right: 0;
                            margin-top: 40px;
                            transition: .5s;

                            >h1 {
                                display: block;
                                padding: 15px;
                                color: gray;
                                font-size: 40px;
                                margin-top: 100px;
                            }

                            >span {
                                margin-right: 80px;

                                >img {
                                    margin-top: 40px;
                                    display: block;
                                    width: 300px;
                                    height: 320px;

                                    &:hover {
                                        filter: contrast(40%);
                                    }
                                }

                                >h3 {
                                    display: block;
                                    padding: 15px;
                                    color: black;
                                    text-align: center;
                                }

                                >p {
                                    display: block;
                                    padding: 15px;
                                    text-align: center;
                                    color: black;
                                    text-decoration: none;
                                }
                            }
                        }
                    }

                }
            }

            >div {
                &:last-of-type {
                    display: flex;
                    gap: 8px;
                    background-color: #fafafa;
                    width: 180px;
                    height: 45px;

                    >input {
                        width: 100px;
                        border: none;
                        height: 40px;
                        padding: 0 9px;
                        font-size: 18px;
                        background-color: #fafafa;
                    }

                    ::placeholder {
                        color: black;
                        font-size: 19px;
                    }

                    >i {}
                }
            }

            >span {
                display: flex;
                gap: 8px;

                >i {
                    font-size: 20px;
                }
            }

        }
    }

    >.parte1 {
        width: 100%;
        height: 100vh;
        background-image: url(../img/hero-intro-1\ \(1\).jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        >P {
            color: white;
            font-size: 29px;
            margin-bottom: 30px;
            animation: id 2s;

        }

        >h1 {
            color: white;
            font-size: 80px;
            width: 770px;
            text-align: center;
            margin-bottom: 70px;
            animation: id 2s;

        }

        >button {
            width: 400px;
            height: 70px;
            color: black;
            border: none;
            background-color: white;
            font-size: 20px;
            animation: id 2s;
            transition: .5s;

            &:hover {
                color: white;
                background-color: black;
                cursor: pointer;
            }
        }
    }

    >.parte2 {
        width: 100%;
        height: 55vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;

        >h1 {
            font-size: 50px;
            width: 400px;
        }

        >figure {
            >img {
                width: 99px;
                height: 99px;
                margin-right: 300px;
            }
        }
    }

    >.parte3 {
        width: 100%;
        height: 160vh;

        >span {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        >div {
            display: flex;
            align-items: start;
            justify-content: center;
            margin-top: 80px;
            padding: 0 9px;
            gap: 55px;

            >div {
                overflow: hidden;

                >img {

                    width: 600px;
                    height: 600px;
                    transition: 1s;

                    &:hover {
                        transform: scale(1.1);

                    }
                }

                >p {
                    font-size: 19px;
                    width: 600px;
                    margin-top: 70px;
                }

            }

            >div {
                &:last-of-type {
                    width: 600px;
                    height: 950px;

                    >figure {
                        overflow: hidden;

                        >img {

                            width: 600px;
                            height: 880px;
                            transition: 1s;

                            &:hover {
                                transform: scale(1.1);

                            }
                        }
                    }


                    >button {
                        width: 600px;
                        height: 60px;
                        background-color: black;
                        color: white;
                        border: none;
                        font-size: 19px;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.823);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    >.parte4 {
        width: 100%;
        height: 20vh;
        opacity: calc(50%);

        &:hover {
            opacity: 1;
        }

        >div {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 30px;

            >img {
                width: 110px;
            }
        }
    }

    >.parte5 {
        width: 100%;
        height: 306vh;

        >p {
            margin-left: 140px;

        }

        >h2 {
            font-size: 40px;
            margin-top: 10px;
            margin-left: 140px;
            margin-top: 8px;
        }

        >div {
            margin-top: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 27px;

            >div {
                display: flex;
                align-items: start;
                justify-content: center;
                gap: 30px;

                >div {
                    >figure {
                        overflow: hidden;
                        width: 400px;
                        height: 370px;

                        >img {
                            transition: 1s;
                            width: 400px;
                            object-fit: cover;

                            &:hover {
                                cursor: pointer;
                                transform: translateY(-52.447px);
                            }
                        }
                    }

                    >h2 {
                        text-align: center;
                        margin-top: 9px;
                        color: rgb(53, 52, 52);
                    }

                    >P {
                        text-align: center;
                        margin-top: 7px;
                        color: rgb(53, 52, 52);

                    }

                    >span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 9px;
                        gap: 5px;

                        i {
                            color: #c39086;
                        }

                        >p {
                            color: gray;
                        }
                    }
                }
            }
        }

        >button {
            width: 200px;
            height: 45px;
            border: none;
            background-color: black;
            color: white;
            margin-left: 663px;
            margin-top: 50px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    >.parte6 {
        width: 100%;
        height: 55vh;

        >p {
            text-align: center;
            font-size: 22px;
        }

        >div {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 80px;
            position: relative;

            >div {
                border-radius: 19px;
                width: 290px;
                height: 150px;
                border-radius: 19px;
                opacity: 0;
                opacity: calc(70%);

                &:hover {
                    opacity: 1;
                }

                &:first-of-type {
                    background-image: url(../img/cat-2.jpg);
                    background-position: center;
                    background-size: cover;
                }

                &:nth-of-type(2) {
                    background-image: url(../img/cat-1.jpg);
                    background-position: center;
                    background-size: cover;
                }


                &:nth-of-type(3) {
                    background-image: url(../img/social-net-1-400x399.jpg);
                    background-position: center;
                    background-size: cover;
                }


                &:nth-of-type(4) {
                    background-image: url(../img/cat-4.jpg);
                    background-position: center;
                    background-size: cover;
                }

                >div {

                    >i {
                        margin-left: 134px;
                        position: absolute;
                        bottom: 70px;
                        font-size: 26px;
                    }


                    >p {
                        margin-left: 116px;
                        position: absolute;
                        bottom: 45px;
                        font-size: 19px;
                    }
                }

                &:hover {
                    cursor: pointer;
                    color: white;
                }
            }
        }
    }

    >.parte7 {
        width: 100%;
        height: 87vh;
        background-image: url(../img/video-large.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 480px;

        >span {
            margin-top: 566px;

            >p {
                color: white;
                font-size: 21px;
            }

            >button {
                width: 450px;
                height: 80px;
                background-color: white;
                color: black;
                font-size: 22px;
                border: none;

                &:hover {
                    cursor: pointer;
                    background-color: black;
                    color: white;
                }
            }
        }
    }

    >.parte8 {
        width: 100%;
        height: 170vh;
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 80px;

        >div {
            margin-top: 90px;
            overflow: hidden;

            >img {
                width: 560px;
                transition: 1s;

                &:hover {
                    opacity: calc(96%);
                    transform: scale(1.1);
                }
            }
        }

        >div {
            width: 560px;
            height: 842px;

            >span {
                &:first-of-type {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 100px;
                    margin-top: 10px;
                    margin-left: 1px;

                    >p {
                        color: rgba(0, 0, 0, 0.723);
                        text-align: center;
                    }
                }

            }

            >span {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 100px;
                margin-top: 100px;
                margin-left: 80px;

                >p {
                    color: rgb(126, 125, 125);
                }
            }

            >h1 {
                margin-top: 30px;
                width: 500px;
                font-size: 50px;
                text-align: center;
                margin-left: 40px;

            }

            >p {
                margin-top: 80px;
                text-align: center;
                width: 500px;
                font-size: 20px;
                color: rgb(57, 56, 56);
                margin-left: 40px;
            }


            >button {
                margin-top: 60px;
                margin-left: 60px;
                width: 500px;
                height: 74px;
                border: 1px solid rgba(128, 128, 128, 0.404);
                background-color: white;
                color: black;
                font-size: 20px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    >.parte9 {
        width: 100%;
        height: 86vh;
        background-image: url(../img/testimonial-large.jpg);
        background-position: center;
        background-size: cover;

        >div {
            width: 700px;
            height: 86vh;
            background-color: white;
            margin-left: 100px;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            padding: 0 70px;

            >p {
                font-size: 20px;
            }

            >h2 {
                margin-top: 60px;
                width: 500px;
                font-size: 30px;
            }

            >button {
                margin-bottom: 200px;
                width: 450px;
                height: 60px;
                background-color: black;
                border: none;
                color: white;
                font-size: 19px;
                margin-top: 100px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.811);
                    cursor: pointer;
                }

                >i {
                    margin-left: 240px;
                }
            }
        }
    }

    >.parte10 {
        width: 100%;
        height: 110vh;
        display: flex;
        align-items: center;
        justify-content: center;

        >div {
            width: 700px;
            height: 700px;

            >p {
                color: rgb(74, 72, 72);

            }

            >h2 {
                width: 400px;
                font-size: 30px;
                margin-top: 9px;
            }

            >img {
                width: 600px;
                height: 340px;
                object-fit: cover;
                margin-top: 40px;
            }

            >h1 {
                margin-top: 40px;
                width: 480px;
                font-size: 29px;
            }

            >span {
                display: flex;
                gap: 240px;

                >p {
                    margin-top: 40px;
                    color: rgb(106, 103, 103);
                }
            }
        }

        >div {
            &:last-of-type {

                >button {
                    margin-left: 300px;
                    width: 300px;
                    height: 40px;
                    border: none;
                    background-color: black;
                    color: white;

                    &:hover {
                        cursor: pointer;
                    }
                }

                >img {
                    margin-top: 90px;
                }

                >h1 {}

                >span {
                    >p {}
                }
            }
        }
    }

    >.parte11 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 35vh;

        >h2 {
            margin-bottom: 40px;
            font-size: 50px;
        }

        >p {
            width: 400px;
            font-size: 19px;
            text-align: center;
        }

        >button {
            width: 190px;
            height: 55px;
            border: 1px solid rgba(128, 128, 128, 0.573);
            background-color: white;
            color: black;
            font-size: 20px;
            margin-top: 50px;

            &:hover {
                cursor: pointer;
                background-color: black;
                color: white;
            }
        }
    }

    >.parte12 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60vh;
        padding: 0 50px;

        >div {
            overflow: hidden;

            >img {
                width: 320px;
                height: 320px;
                transition: 1s;

                &:hover {
                    transform: scale(1.1);
                    opacity: calc(90%);
                }
            }
        }
    }

    >.parte13 {
        display: flex;
        align-items: start;
        justify-content: space-around;

        width: 100%;
        height: 70vh;
        padding: 0 20px;

        >div {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 20px;
            width: 400px;
            height: 600px;
            margin-top: 80px;

            &:first-of-type {
                width: 690px;
            }

            >h2 {
                margin-left: 80px;
                width: 400px;
                font-size: 40px;

            }

            >p {
                margin-left: 80px;

                color: #656a70;

            }

            >h4 {
                margin-left: 80px;

            }

            >h3 {
                margin-left: 80px;

            }

            >a {
                margin-left: 80px;

                color: #656a70;
                transition: 1s;

                &:hover {
                    color: black;
                }
            }


        }
    }

    >footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 100px;
        border-top: 1px solid gainsboro;

        >p {
            padding-top: 70px;

            >span {
                color: #c39086;
            }

        }

        >span {
            display: flex;
            gap: 22px;
            padding-top: 70px;

            >i {
                font-size: 20px;

                &:hover {
                    color: #656a70;
                    cursor: pointer;
                }
            }
        }
    }
}